<a href="https://colab.research.google.com/github/Kwazi083/Xente-Fraud-Detection-Challenge/blob/master/Xente_Fraud_Detection_Challenge_Zindi.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Run this cell to mount your Google Drive.
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [0]:
import pandas as pd

In [0]:
#read train and test data
train_df = pd.read_csv('/content/drive/My Drive/Colab Notebooks/Xente Fraud Detection/training.csv')
test_df = pd.read_csv('/content/drive/My Drive/Colab Notebooks/Xente Fraud Detection/test.csv')

In [5]:
train_df.head()

         TransactionId         BatchId  ... PricingStrategy FraudResult
0  TransactionId_76871   BatchId_36123  ...               2           0
1  TransactionId_73770   BatchId_15642  ...               2           0
2  TransactionId_26203   BatchId_53941  ...               2           0
3    TransactionId_380  BatchId_102363  ...               2           0
4  TransactionId_28195   BatchId_38780  ...               2           0

[5 rows x 16 columns]

In [7]:
test_df.head()

         TransactionId        BatchId  ...  TransactionStartTime PricingStrategy
0  TransactionId_50600  BatchId_35028  ...  2019-02-13T10:01:40Z               4
1  TransactionId_95109  BatchId_45139  ...  2019-02-13T10:02:12Z               2
2  TransactionId_47357  BatchId_74887  ...  2019-02-13T10:02:30Z               2
3  TransactionId_28185  BatchId_11025  ...  2019-02-13T10:02:38Z               4
4  TransactionId_22140  BatchId_29804  ...  2019-02-13T10:02:58Z               2

[5 rows x 15 columns]